*{
	box-sizing: border-box;
}

body{
    font-family: tahoma sans-serif;
    list-style: none;
    font-family: sans-serif;
    margin: 5px;
    background-color: #dbfeff;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    font-size: 100px;
    text-align: right ;
    position: absolute;
    top: 40px;
    left:690px;
}
.apartado1{
   text-shadow: 5px 5px 5px black;
}
.centrado{
    font-size: 200px;
    text-align: right ;
    position: absolute;
    top: 65%;
    left: 86%;
    transform: translate(-50%, -50%);
}
.sombra{
    text-shadow: black;
}
.blanco{
    background-color: white;
}

.rojo{
	background-color: red
}

.amarillo{
	background-color: yellow
}


.azul{
	background-color: blue
}

.gris{
	background-color: gray
}

.cajamenu{
    border-bottom-style: outset;
    border-width: 2px;
    border-color: orange;
    background-color: white;
    border-radius: 8px;
    font-size: 15px;   
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: safe flex-start;
    align-items: flex-start;
}


.caja{
    justify-items: flex-end;
    font-size: 30px;
    text-align: right;
    width: 1200px;
    height: 300px;    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} 
.caja2{
    border-style: solid;
    border-color: darkorange;
    height: 150px;    
    display: flex;
    justify-content: flex;
    align-items: flex;
}
.caja3{
    border-style: solid;
    border-color: green;
    height: 220px;    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.naranja{
    background-color: orange;
    height: 200px;
}
.azul{
    background-color: skyblue;
    height: 200px;
}
.verde{
    background-color: greenyellow;
    height: 200px;
}
.aguamarina{
    background-color: aquamarine;
    height: 200px;
}

.container{
  background-color: white;
  margin: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
}

ul, li {
    padding: 5px;
    margin: 5px;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .6s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: #F58226;
  text-decoration: none;
  background-color: #A4F6FF;
  padding: 10px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  border-radius: 100%;
} 
.trabaja{
    width: 1200px;
    height: 300px;
}